.center{
    text-align:left;
    color:cadetblue;
    
}
.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}
.flex-col{
flex-direction: column;
}
.item-center{
    text-align: center;
}
